extends layout

block content
  input.account(type='text')
  input.password(type='password')
  button#btn-login 登录
  script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
  script(src='./javascripts/index.js')
